body{
	background-color: #000;
	background: url(img/memblue.jpg) no-repeat center center fixed;
	/*background-size: 1920px 1080px;*/
	/*background-size: 1280px 720px;*/
	/*background-repeat:no-repeat;*/
	/*background-position: center;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


	color:#E5E6D8;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 170%;

}



.col-md-4, .col-md-6, .col-md-12{
	/*outline: 1px solid blue;*/

}