body{
	background-color: #000;
	background: url(img/memblue.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


	color:#E5E6D8;
	color:white;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 1px;
	font-size: 170%;


}

a:link, a:visited{
	color:#85a3a9;
}



.col-md-4, .col-md-6, .col-md-12{
	/*outline: 1px solid blue;*/

}