<!doctype html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>Depublic music</title>
		<link rel="stylesheet" href="stuff/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css.css">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="stuff/angular/angular.min.js"></script>
		<script type="text/javascript" src="stuff/angular-route/angular-route.js"></script>
		<script src="js.js"></script>
	</head>
	<body>
		<div class="container">
			<div ng-controller="NameCtrl">  <!-- Controller start -->

				<h1><a href="/">{{title}}</a></h1>

				<div class="row">
					<div class="col-md-12">
						<h4>Find us on:</h4>
						<ul>
							<li ng-repeat="item in websites">
								 <a href="{{item.url}}"> {{item.name}}</a>
							</li>
						</ul>
					</div>
				</div>
				
				
				<hr> <!-- ################################ -->

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Band members</h4>
						<ul>
							<li ng-repeat="member in members"> 
								<a href="{{member.url}}">{{member.name}} </a>
							</li>
						</ul>
					</div>

				<!-- Here the route will bind -->
					<div ng-view class="col-md-6 col-sm-6 col-xs-12"></div>
				</div> <!-- End row -->

				<hr> <!-- ################################ -->

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Albums:</h4>
						<ul>
							<li ng-repeat="album in albums">
								{{album.albumname}} - {{album.year}}
							</li>
						</ul>
					</div> <!-- End col -->

					<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Song names</h4>
						<ol>
							<li ng-repeat="song in songs">{{song.name}}</li>
						</ol>
					</div>
				</div> <!-- End row -->

				<hr> <!-- ################################ -->

				<div class="row">
					<div class="col-md-12">
						<h3>Bio</h3>
						<p>Our album is in production and will be available in a few weeks.</p>
					</div>
				</div>



			</div> <!-- Controller End -->
		</div> <!-- End Container -->

		<!-- Scripts -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-50845944-1', 'depublicmusic.com');
			ga('send', 'pageview');
		</script>
	</body>
</html>