<!doctype html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>Depublic music</title>
		<link rel="stylesheet" href="stuff/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css.css">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="stuff/angular/angular.min.js"></script>
		<script type="text/javascript" src="stuff/angular-route/angular-route.js"></script>
		<script src="js.js"></script>
	</head>
	<body>
		<div class="container">
			<div ng-controller="NameCtrl">  <!-- Controller start -->

				<h1><a href="/">{{title}}</a></h1>

				<div class="row">
					<div class="col-md-12">
						<h4>Find us on:</h4>
						<ul>
							<li ng-repeat="item in websites">
								 <a href="{{item.url}}"> {{item.name}}</a>
							</li>
						</ul>
					</div>
				</div>
				
				
				<hr> <!-- ################################ -->

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Band members</h4>
						<ul>
							<li ng-repeat="member in members"> 
								<a href="{{member.url}}">{{member.name}} </a>
							</li>
						</ul>
					</div>

				<!-- Here the route will bind -->
					<div ng-view class="col-md-6 col-sm-6 col-xs-12"></div>
				</div> <!-- End row -->

				<hr> <!-- ################################ -->

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Albums:</h4>
						<ul>
							<li ng-repeat="album in albums">
								{{album.albumname}} - {{album.year}}
							</li>
						</ul>
					</div> <!-- End col -->

					<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Song names</h4>
						<ol>
							<li ng-repeat="song in songs">{{song.name}}</li>
						</ol>
					</div>
				</div> <!-- End row -->

				<hr> <!-- ################################ -->

				<div class="row">
					<div class="col-md-12">
						<h3>Biography</h3>
						<p>
							Depublic is a progressive metal band from Iceland, where all band members originally come from Iceland‘s most southern island cluster, Vestmannaeyjar. 
							Inspired mainly by the metal rock music of the 1980s and 1990s, mixed together with the infamous Seattle grunge rock, Depublic strives to create a unique and exciting 
							sound in Iceland‘s modern rock n‘ roll scene: powerful guitar riffs, melodic bass tunes and hard-hitting drums, topped off with powerful, yet comfortable, vocals. 
							Founded in 2003 by guitarist Viktor Smári and drummer Aron Örn, the band has gone through several line-up changes through the years but has always been able to stick 
							to its core idea of musical inspiration, namely the exciting progressive metal rock n‘ roll. Bassist and back-up vocalist Andri joined the band in 2007 and Depublic 
							obtained its final formation when lead singer Einir joined in 2009 after the band had seen various lead singers join and quit. The music is mainly composed by Viktor,
							Aron (who also played drums in Icelandic bands The 59ers and Hoffman) and Andri, whereas Einir takes care of most lyrics. 
						</p>
						<p>
							Depublic has composed over 40 tracks and the band‘s debut album, The Silence In Your Head, comprises of  14 of those tracks. 
							The band is focused on becoming much more active in Iceland‘s music scene and its members strongly believe that in spite of a very high-quality, powerful and exciting 
							Icelandic rock n‘ roll market, the band can deliver a new and unique sound to the existing rock generation, a sound that can easily be listened to by rock fans around the world.
						</p>
						<p>
							Depublic emphasizes and focuses extremely on the quality and power of the rock n‘ roll sound, whether it is in the studio, at band practice or during live performances. 
							Therefore, the production and sound engineering of The Silence In Your Head was completely taken care of by Jóhann Rúnar Þorgeirsson of Dallas Studios in Iceland. 
							Depublic‘s music is especially recommended for those that enjoy Metallica, Alter Bridge, Billy Talent, Soundgarden, Alice in Chains, Mars Volta, Queens of the Stone Age, etc.
							since these bands are Depublic‘s main inspirations. 
						</p>
					</div>
				</div> <!-- Row end -->

			</div> <!-- Controller End -->
		</div> <!-- End Container -->

		<!-- Scripts -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-50845944-1', 'depublicmusic.com');
			ga('send', 'pageview');
		</script>
	</body>
</html>
