<p>{{members[0].name}} is Depublic's bass player and backup vocalist. Andri has been playing all kinds of instruments
  since he was a little kid, including the clarinet, saxophone, keyboards and guitar. When younger, he played in the brass 
  band of his hometown, Vestmannaeyjar. Andri has a strong musical background where both of his parents are professional 
  musicians in Iceland. Andri studied sound engineering at SAE Amsterdam with guitarist Viktor Smári and has produced and
  sound engineered various records in Iceland's music scene. Andri's main inspirations in music include Dimmuborgir, Cradle
  of Filth, In Flames, Metallica, etc.  
</p>
