<p>
	{{members[1].name}} is Depublic's drummer. Apart from playing the drums, which he has played since the age of 8, Aron is 
	a skilled guitar player and composed several of the tracks on Depublic's debut album, The Silence In Your Head. Aron holds
	a BSc degree in Human Science/History from the University of Iceland and will soon graduate with an MSc degree from the 
	University of Akureyri. Aron formerly played drums for reknowned Icelandic bands The 59ers and Hoffman. 
</p>
<p>
	Aron's main musical	inspirations include Metallica, Rammstein, Deftones and many other heavy metal bands.   
</p>
