<p>
	{{members[2].name}} is the lead singer of Depublic. Einir holds an MSc degree in Electrical Engineering 
	from the Technical University of Denmark (DTU), with special emphasis on Automation and Robotics. Einir joined Depublic in
	2009 while still living in Copenhagen, Denmark. 
</p>
<p>
	Einir's main musical inspirations are Led Zeppelin, Alter Bridge, Alice In
	Chains, Soundgarden, Deep Purple, Uriah Heep and Metallica, where his favorite singers are Myles Kennedy, Robert Plant, Chris
	Cornell and Layne Staley. Einir plays the guitar a little bit and is determined to play more guitar on Depublic's second
	album. 
</p>
